#footer{
    text-align: center;
    background-image: url(slike/footer.jpeg);
    height: 150px;
    color: white;
}

#text{

    margin-left: 70px;
    margin-right: 70px;


}
#dugme{

    margin-left: 88px;

}
#naslov2{
    margin-left: 700px;
}
table{
    margin-left: 50px;
    margin-right: 100px;
}
pics{
    height: 150px;
    width: 200px;
}

th,td{
    padding: 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color:green;
   }